* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
background-color: #f3cdde;
font-family: 'Open Sans', sans-serif;
line-height: 1.6;
}

h1, h2, h3, .nombre {
font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f3cdde;
    }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.header{
position:sticky;
top:0;
background:#f3cdde;
z-index:1000;
}

.nombre{ font-weight: bold; 
         font-size: 30px; 
          color: #3b2349;
}

.nav {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav a {
  margin: 20px;
    text-decoration: none;
    color: #7f4f82;
    font-size: 20px;
}

.btn-nombre {
    border-radius: 5px;
    text-decoration: none;
   padding: 15px 20px;
    border: none;
    background-color: #3b2349;
    color: white;
    cursor: pointer;
  font-size: 20px;
}

.hero {
    display: flex;
    align-items: center;
    padding: 50px 10%;
    gap: 50px;
}


.hero-content { flex: 1; }

.hero-content h1 {
    font-size: 3rem;
    margin: 20px 0;
  color: #3b2349;
}

.hero-content span { color: #5e147d; }

.descripción {
    margin-bottom: 20px;
    color: #444;
}

.hero-buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.btn-primary {
    padding: 10px 20px;
    border: 2px solid #3b2349 ;
    background: #3b2349;
    color: white;
    cursor: pointer;
}
.btn-secondary {
    padding: 10px 20px;
    border: 2px solid #3b2349 ;
    background: transparent;
    color: #3b2349;
    cursor: pointer;
}

.image{
  position: relative; 
  width: 700px;
}

.filosofia {
    display: flex;
    padding: 80px 10%;
    gap: 100px;
    background: white;
}

.philosophy h2{color:#5e147d; text-align: center}

.philosophy p{color:#3b2349; padding: 20px}

.philosophy, .skills { flex: 1; }

.numeros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
    gap: 20px;
}

.num h3 { color: #3b2349; font-size: 2rem; }

.habilidades {
    display: flex;
    padding: 80px 10%;
    gap: 100px;
    background: #f3cdde;
}

.habilidades h2{color:#5e147d; text-align: center}

.skill-bar { margin-bottom: 20px; }

.progress {
    background: #eee;
    height: 4px;
    margin-top: 8px;
}

.fill {
    background: #5e147d;
    height: 100%;
}

.technical{color: #5e147d; text-align: center }

.skills h2{color:#5e147d; text-align: center}

.skill-bar h3{color:#3b2349; padding: 20px}

.contact{
    display: flex;
    padding: 80px 10%;
    gap: 50px;
  background: white;
}

.info h2{color:#5e147d; padding:80px; font-size: 30px}

.info p{color:#3b2349; padding: 10px 10%; font-size: 20px}

.btn-form{ padding: 10px 20px;
    border: 2px solid #3b2349 ;
    background: transparent;
    color: #3b2349;
    cursor: pointer;}

.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info, .contact-form { flex: 1; }

.contact-form input, .contact-form textarea {
    padding: 15px;
    border: 1px solid #ddd;
    outline: none;
}

.footer {
    background: #3b2349;
    color: white;
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    font-size: 28px;
    font-weight: bold;
}

.footer-links {
    display: flex;
    gap: 25px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #f3cdde;
}

html{
  scroll-behavior:smooth;
}

.nav a:hover{color:#3b2349}

.btn-nombre:hover{ border: 2px solid #3b2349 ;
    background: transparent;
    color: #3b2349;}

.btn-primary:hover{ border: 2px solid #3b2349 ;
    background: transparent;
    color: #3b2349;}

.btn-secondary:hover{border: 2px solid #3b2349 ;
    background: #3b2349;
    color: white;}

.btn-form:hover{border: 2px solid #3b2349 ;
    background: #3b2349;
    color: white;}
